@import "config";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}

html,
body {
  font-family: "Manrope", sans-serif;
  background: black;
  scroll-behavior: smooth;
}

.title {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.card {
  width: 100%;

  img {
    width: 100%;
    border-radius: 10px;
    border: 3px #ffffff solid;
  }
}

header {
  position: fixed;
  background: black;
  width: 100%;
  z-index: 50;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 90px;
    // padding: 0 40px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .logo {
    align-items: center;
    justify-content: center;

    svg {
      fill: none;
      width: 50px;

      circle {
        stroke: #f1f1f1;
      }
      path {
        fill: #f1f1f1;
      }
    }
  }

  .menu {

    ul {
      display: flex;

      li {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.5);
          font-size: 1rem;
          padding-right: 20px;

          &:hover {
            color: white;
            transition: 0.2s ease;
          }
        }
      }
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#home {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;



  i {
    color: white;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      color: white;
    }

    h3 {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      letter-spacing: 1px;
      color: white;
    }
    

    .social {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        padding: 5px;

        i {
          color: rgba($color: #ffffff, $alpha: 0.5);

          &:hover {
            color: white;
            transition: 0.2s ease;
          }
        }
      }
    }
  }
}

#projects {
  padding-top: 90px;
  height: 100%;
  background: white;

  h1 {
    margin-bottom: 15px;
  }

  .work {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.7rem;

    .proj-container {
      position: relative;
      width: 100%;

      .overlay {
        position: absolute;
        bottom: 0;
        background: rgba(224, 165, 165, 0.9); /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        height: 100%;
        transition: 0.3s ease;
        opacity: 0;
        border-radius: 10px;
        border: 3px #ffffff solid;

        &:hover {
          opacity: 1;
        }
      }
    }

    img {
      width: 100%;
      border-radius: 10px;
      border: 3px #ffffff solid;
    }
  }
}

#exp {
  padding-top: 90px;
  height: 100vh;
  color: white;
}


#contact {
  padding-top: 90px;
  height: 100vh;
  background: white;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;

  .container {

    .copyrightHeader {
      color: white;
      text-align: center;
      float: left;
      font-weight: 300;
      font-size: 1.1rem;
    }
.icon {
  width: 70px;
display: flex;
justify-content: space-between;
align-items: center;
  i {
    color: white;
  }
}


    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
  }
}

// .menu-btn {
//   visibility: hidden;
//   position: absolute;
//   z-index: 3;
//   right: 35px;
//   top: 35px;
//   cursor: pointer;
//   @include easeOut;

//   .btn-line {
//     width: 28px;
//     height: 3px;
//     margin: 0 0 5px 0;
//     background: white;
//     @include easeOut;
//   }

//   // Rotate into X with menu close
//   &.close {
//     transform: rotate(180deg);

//     .btn-line {
//       // Line 1 - Rotate
//       &:nth-child(1) {
//         transform: rotate(45deg) translate(5px, 5px);
//       }
//       // Line 2 - Hide
//       &:nth-child(2) {
//         opacity: 0;
//       }
//       // Line 3 - Rotate
//       &:nth-child(3) {
//         transform: rotate(-45deg) translate(7px, -6px);
//       }
//     }
//   }
// }
