@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  font-family: "Manrope", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Manrope", sans-serif;
  background: #666666;
}

header {
  height: 90px;
  padding: 20px 40px;
  position: fixed;
  width: 100%;
}

header .menu {
  float: right;
}

header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  padding-right: 20px;
}

header .menu li a:hover {
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container #home {
  height: calc(100vh - 90px);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #home .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #home .main-content h1 {
  font-size: 5rem;
  font-weight: 700;
  color: #1b2031;
  margin-bottom: 0.5rem;
}

.container #home .main-content h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}

.container #home .main-content .project-btn {
  padding: 12px;
  border-radius: 15px;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.container #home .main-content .project-btn:hover {
  color: white;
  border: 2px solid white;
}

.container #home .main-content .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #home .main-content .social a {
  padding: 5px;
}

.container #info-txt {
  height: calc(100vh - 90px);
}
/*# sourceMappingURL=style.css.map */