@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  font-family: "Manrope", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Manrope", sans-serif;
  background: black;
  scroll-behavior: smooth;
}

.title {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.card {
  width: 100%;
}

.card img {
  width: 100%;
  border-radius: 10px;
  border: 3px #ffffff solid;
}

header {
  position: fixed;
  background: black;
  width: 100%;
  z-index: 50;
}

header .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 90px;
  max-width: 1200px;
  margin: 0 auto;
}

header .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo svg {
  fill: none;
  width: 50px;
}

header .logo svg circle {
  stroke: #f1f1f1;
}

header .logo svg path {
  fill: #f1f1f1;
}

header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .menu ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  padding-right: 20px;
}

header .menu ul li a:hover {
  color: white;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#home {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home i {
  color: white;
}

#home .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .main-content h1 {
  color: white;
}

#home .main-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
  color: white;
}

#home .main-content .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .main-content .social a {
  padding: 5px;
}

#home .main-content .social a i {
  color: rgba(255, 255, 255, 0.5);
}

#home .main-content .social a i:hover {
  color: white;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

#projects {
  padding-top: 90px;
  height: 100%;
  background: white;
}

#projects h1 {
  margin-bottom: 15px;
}

#projects .work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.7rem;
}

#projects .work .proj-container {
  position: relative;
  width: 100%;
}

#projects .work .proj-container .overlay {
  position: absolute;
  bottom: 0;
  background: rgba(224, 165, 165, 0.9);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0;
  border-radius: 10px;
  border: 3px #ffffff solid;
}

#projects .work .proj-container .overlay:hover {
  opacity: 1;
}

#projects .work img {
  width: 100%;
  border-radius: 10px;
  border: 3px #ffffff solid;
}

#exp {
  padding-top: 90px;
  height: 100vh;
  color: white;
}

#contact {
  padding-top: 90px;
  height: 100vh;
  background: white;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
}

footer .container .copyrightHeader {
  color: white;
  text-align: center;
  float: left;
  font-weight: 300;
  font-size: 1.1rem;
}

footer .container .icon {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .icon i {
  color: white;
}
/*# sourceMappingURL=style.css.map */