@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}

html,
body {
  font-family: "Manrope", sans-serif;
  background: #666666;
}

.title {
  font-size: 5rem;
  font-weight: 700;
  color: #1b2031;
  margin-bottom: 0.5rem;
}

.card {
  width: 100%;

  img {
    width: 100%;
    border-radius: 10px;
    border: 3px #ffffff solid;
  }
}

header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 90px;
  padding: 0 40px;
  z-index: 1;
  background: black;

  .nav-container {
    background: black;
 
  }

  .logo {
    align-items: center;
    justify-content: center;

    svg {
      fill: none;
      width: 50px;

      circle {
        stroke: #f1f1f1;
      }
      path {
        fill: #f1f1f1;
      }
    }
  }

  .menu {
    ul {
      display: flex;

      li {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.5);
          font-size: 1.0rem;
          padding-right: 20px;

          &:hover {
            color: white;
            transition: 0.2s ease;
          }
        }
      }
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  #home {
    height: calc(100vh - 90px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        letter-spacing: 1px;
      }

      .project-btn {
        padding: 12px;
        border-radius: 15px;
        width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: rgba($color: #ffffff, $alpha: 0.5);
        font-size: 1rem;
        background: transparent;
        border: 2px solid rgba($color: #ffffff, $alpha: 0.5);
        font-weight: 700;
        margin-bottom: 0.2rem;

        &:hover {
          color: white;
          border: 2px solid white;
          transition: 0.2s ease;
        }
      }

      .social {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          padding: 5px;
        }
      }
    }
  }

  #projects {
    height: 100vh;

    h1 {
      margin-bottom: 15px;
    }

    .work {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0.7rem;

      .proj-container {
        position: relative;
        width: 100%;

        .overlay {
          position: absolute;
          bottom: 0;
          background: rgba(224, 165, 165, 0.9); /* Black see-through */
          color: #f1f1f1;
          width: 100%;
          height: 100%;
          transition: 0.3s ease;
          opacity: 0;
          border-radius: 10px;
          border: 3px #ffffff solid;

          &:hover {
            opacity: 1;
          }
        }
      }

      img {
        width: 100%;
        border-radius: 10px;
        border: 3px #ffffff solid;
      }
    }
  }
}
