@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  font-family: "Manrope", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Manrope", sans-serif;
  background: #666666;
}

.title {
  font-size: 5rem;
  font-weight: 700;
  color: #1b2031;
  margin-bottom: 0.5rem;
}

.card {
  width: 100%;
}

.card img {
  width: 100%;
  border-radius: 10px;
  border: 3px #ffffff solid;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 90px;
  padding: 0 40px;
  z-index: 1;
  background: black;
}

header .nav-container {
  background: black;
}

header .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo svg {
  fill: none;
  width: 50px;
}

header .logo svg circle {
  stroke: #f1f1f1;
}

header .logo svg path {
  fill: #f1f1f1;
}

header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .menu ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.0rem;
  padding-right: 20px;
}

header .menu ul li a:hover {
  color: white;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container #home {
  height: calc(100vh - 90px);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #home .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #home .main-content h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}

.container #home .main-content .project-btn {
  padding: 12px;
  border-radius: 15px;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.container #home .main-content .project-btn:hover {
  color: white;
  border: 2px solid white;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.container #home .main-content .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #home .main-content .social a {
  padding: 5px;
}

.container #projects {
  height: 100vh;
}

.container #projects h1 {
  margin-bottom: 15px;
}

.container #projects .work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;
}

.container #projects .work .proj-container {
  position: relative;
  width: 100%;
}

.container #projects .work .proj-container .overlay {
  position: absolute;
  bottom: 0;
  background: rgba(224, 165, 165, 0.9);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0;
  border-radius: 10px;
  border: 3px #ffffff solid;
}

.container #projects .work .proj-container .overlay:hover {
  opacity: 1;
}

.container #projects .work img {
  width: 100%;
  border-radius: 10px;
  border: 3px #ffffff solid;
}
/*# sourceMappingURL=style.css.map */